.home {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 2rem;
    background-color: var(--bg);

    color: var(--whiteText);
    border-radius: 8px;
}

.title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-weight: 700;
    letter-spacing: 0.05em;
}

.container {
    width: 80%;
    height: 10rem;
    max-width: 600px;

    display: flex;
    align-items: center;

    flex-direction: column;
    gap: 1.5rem;

    padding: 1rem;
    background: var(--whitePanel);
    border-radius: 12px;
}



@media (max-width: 768px) {
    .home {
        padding: 1rem;
    }

    .title {
        font-size: 1.8rem;
        text-align: center;
    }

    .container {
        padding: 1rem;
        border-radius: 8px;
    }
}