.navbar {
    display: flex;
    justify-content: end;
    padding: var(--space-2);
}

.leaveButton {

    padding: var(--space-1) var(--space-3);
    border-radius: var(--radius-md);

    background: var(--error);
    color: var(--whiteText);
    font-size: var(--text-lg);
    border: none;

    cursor: pointer;
    display: flex;
    align-items: center;
    gap: var(--space-1);
    transition: transform 0.15s ease;
}

.leaveButton:hover {
    transform: scale(0.95);
}